.modal {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .85);
    left: 0;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
    z-index: -1;        
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.modal-body {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
    transition-delay: 0;
    background: #222;
    position: relative;
}

.modal-body .close {
    position: absolute;
    top: -15px;
    right: -15px;
    z-index: 2036;
    cursor: pointer;
}

.modal-body .close .close-modal {
    width: 30px;
}

.modal-body.modal-body-opened {
    opacity: 1;
    transition-delay: 300ms;
}

@media (min-width: 320px) {
    .modal-body {
        width: 70%;
    }
}

@media (min-width: 1600px) {
    .modal-body {
        width: 80%;
    }
}

.modal.modal-opened {
    opacity: 1;
    z-index: 99999;
    pointer-events: initial;
}

.iframe-res {
    position: relative;
    overflow: hidden;
    padding-top: 56.2%;
}

.iframe-res iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}